.FriendTab {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // height: 100%;
    overflow-y: scroll;
    padding: 0 0 20px 0;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 2px rgba(186, 186, 186, 0.3);
        background-color: #ffffff;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #898888;
        border: 2px solid rgb(133, 133, 133);
    }
}


.friend-request-container {

    .show-request-btn {
        display: flex;
        // justify-content: center;
        // align-items: center;
        padding: 10px 0;
        font-size: 0.8rem;
        // background: red;
        gap: 5px;
        color: #0095f6;
        cursor: pointer;

        .btn-text {
            font-weight: bold;
            cursor: pointer;
        }

        i {
            display: grid;
            place-content: center;
        }



    }

    display: flex;
    flex-direction: column;
    gap: 10px;



    // &:last-child {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(0, 123, 206, 0.3);
    // }
}

.friend-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.FriendRequest,
.Friend {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    background: rgb(240, 240, 240);
    position: relative;

    &:hover {
        background: rgb(240, 240, 240);
    }

    .avatar {
        position: relative;
        flex-shrink: 0;

        img {
            height: 60px;
            width: 60px;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid rgb(0, 0, 0);
        }

        .online-status {
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            right: 5px;
            bottom: 5px;
            border: 1.5px solid white;
        }

        .online {
            background: rgb(1, 199, 1);
        }

        .away {
            background: orange;
        }

        .offline {
            background: grey;
        }
    }

    .info {
        text-align: left;
        display: flex;
        flex-direction: column;
        // background: powderblue;
        height: 60px;

        // background: pink;
        .displayName {
            font-size: 1.1rem;
            font-weight: bold;
            margin: 0;
            // background: red;
        }

        .username {
            margin-top: 5px;
            font-size: 0.8rem;
            color: #666;
            margin: 0;
        }

        .time {
            margin-top: 5px;
            font-size: 0.8rem;
            color: #666;

            // font-z
        }
    }

    .accept-btn {
        position: absolute;
        right: 10px;
        bottom: 0%;
        transform: translateY(-50%);
        background: #0095f6;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 0.8rem;
        cursor: pointer;

        &:hover {
            background: #007bce;
        }
    }

    .request-sent-btn {
        position: absolute;
        right: 10px;
        bottom: 0%;
        transform: translateY(-50%);
        color: #0095f6;
        border: none;
        border: 1px solid #0095f6;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 0.8rem;
        cursor: pointer;

    }
}