.SearchBar {
    // background-color:red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #dedede;
    // margin: 10px 0;
    padding: 5px 10px;
    position: relative;

    input {
        width: 100%;
        height: 25px;
        padding: 0 5px;
        font-size: 1rem;
        border: none;
        font-size: 0.8em;
        background: transparent;

        &:focus {
            outline: none;
        }
    }

    .close-search-box {
        // position: absolute;
        // right: 10px;
        // top: 50%;
        // transform: translateY(-50%);
        // font-size: 1.2rem;
        display: none;

        &:hover {
            color: #000;
        }
    }

    .show-bg-red {
        display: block;
        cursor: pointer;

        color: red;
    }

    .search-result {
        position: absolute;
        top: 100%;
        z-index: 100;
        height: calc(100vh - 150px);
        overflow-y: auto;
        width: 100%;
        background: white;
        // background: red;

        .tab-container {
            display: flex;
            justify-content: space-around;
            border-bottom: 3px solid rgba(0, 0, 0, 0.250);
            padding: 10px 0;
            margin: 10px 0;
            font-size: 0.8em;
            .tab {  
                margin: 0;
                cursor: pointer;
                font-weight: bold;
            }

            .active-tab {
                color: #0095f6;

            }
        }


        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 2px rgba(186, 186, 186, 0.3);
            background-color: #ffffff;
        }

        &::-webkit-scrollbar {
            width: 5px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #898888;
            border: 2px solid rgb(133, 133, 133);
        }

    }
}


.people-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // height: 100%;
    overflow-y: auto;
    padding: 0 0px;
    // background: red;


    .no-result {
        font-size: 0.8em;
        color: #666;
        font-weight: bold;
    }
}

.People {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    background: rgb(240, 240, 240);
    position: relative;

    &:hover {
        background: rgb(240, 240, 240);
    }

    .avatar {
        position: relative;
        flex-shrink: 0;

        img {
            height: 50px;
            width: 50px;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.139);
        }

        .online-status {
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            right: 5px;
            bottom: 5px;
            border: 1.5px solid white;
        }

        .online {
            background: rgb(1, 199, 1);
        }

        .away {
            background: orange;
        }

        .offline {
            background: grey;
        }
    }

    .info {
        text-align: left;
        display: flex;
        flex-direction: column;
        // background: powderblue;
        height: 60px;

        // background: pink;
        .displayName {
            font-size: 1rem;
            font-weight: bold;
            margin: 0;
            // background: red;
        }

        .username {
            margin-top: 5px;
            font-size: 0.6rem;
            color: #666;
            margin: 0;
        }

        .time {
            margin-top: 5px;
            font-size: 0.8rem;
            color: #666;

            // font-z
        }
    }

    .add-friend-btn {
        position: absolute;
        right: 10px;
        bottom: 0%;
        transform: translateY(-50%);
        background: #0095f6;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 0.65rem;
        cursor: pointer;

        &:hover {
            background: #007bce;
        }
    }

    .request-sent-btn {
        position: absolute;
        right: 10px;
        bottom: 0%;
        transform: translateY(-50%);
        color: #0095f6;
        border: none;
        border: 1px solid #0095f6;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 0.8rem;
        cursor: pointer;

    }
}


.skeleton-People {
    .avatar {

        // animation: skeleton-loading 1s linear infinite alternate;
        // background: red;D
        img {
            background: rgb(216, 216, 216);
            border: none;
            animation: skeleton-loading 1s linear infinite alternate;

        }

        .online-status {
            background: rgb(216, 216, 216);
        }


    }

    .info {
        gap: 5px;
        // background: red !important;

        p {
            background: rgb(216, 216, 216);
            height: 20px;
            border-radius: 5px;

            animation: skeleton-loading 1s linear infinite alternate;
        }

        .displayName {
            width: 125px;

        }

        .username {
            width: 50px;
        }


    }

    .add-friend-btn {
        background: rgb(216, 216, 216);
        color: white;
        border-radius: 5px;
        // cursor: none;
        animation: skeleton-loading 1s linear infinite alternate;
    }
}